<div ng-app="lunchTime" id="lunchTimeApp" ng-controller="MapController">
	<div class="core-toolbar" ng-class="coreToolBar">
		<div class="menu-icon" ng-click="menushow()" ng-class="iconMenuClass">
			
		</div>
		<div class="back-icon" ng-click="searchshow()" ng-class="iconSearchBackClass">
			
		</div>
		<div id="core-title" ng-class="coreTitle">
			{{title}}
			<div class="search-input" ng-class="iconSearchBackClass">
				<input type="text" placeholder="Busca" autofocus="true" ng-model="searchtext.titulo" ng-change="changesearch()"/>
			</div>
		</div>
		<div class="search-icon" ng-click="searchshow()" ng-class="iconSearchClass">
			
		</div>
		<div class="dummy-div" ng-class="dummyDiv"></div>
	</div>
	<div class="core-searchlist">
		<div class="searchlist" ng-class="coresearchlist">
			<ul>
				<li ng-repeat="marker in markers | filter:searchtext" ng-click="openInfoWindow($event, marker)">
					<div class="searchlistimg {{marker.categoria}}"></div>
					<span class="searchlisttitle">{{marker.titulo}}</span><span class="searchlistendereco">{{marker.endereco}}</span>
				</li>
			</ul>
		</div>
	</div>
	<div id="map-canvas" ng-click="menucontexto()"></div>
	<div id="menu-id" class="menu" ng-class="menuClass">
		<div class="menu-principal">
			<lista-principal></lista-principal>
		</div>
		<div class="menu-card">
			<lista-card></lista-card>
		</div>
	</div>
</div>