.selfservice {
	background-image: url(../img/menuicons/default_64.png);
}

.gourmet {
	background-image: url(../img/menuicons/default_64.png);
}

.alacarte {
	background-image: url(../img/menuicons/default_64.png);
}

.pizzaria {
	background-image: url(../img/menuicons/pizza_64.png);
}

.steak {
	background-image: url(../img/menuicons/steakhouse_64.png);
}

.vegetarian {
	background-image: url(../img/menuicons/vegetarian_64.png);
}

.bbq {
	background-image: url(../img/menuicons/bbq_64.png);
}

.asiatica {
	background-image: url(../img/menuicons/asian_64.png);
}

.cafemanha {
	background-image: url(../img/menuicons/breakfast_64.png);
}

.cervejaria {
	background-image: url(../img/menuicons/brewery_64.png);
}

.padaria {
	background-image: url(../img/menuicons/bakery_64.png);
}

.hamburgueria {
	background-image: url(../img/menuicons/burger_64.png);
}

.cafeteria {
	background-image: url(../img/menuicons/coffeeshop_64.png);
}

.fastfood {
	background-image: url(../img/menuicons/fastfood_64.png);
}

.frances {
	background-image: url(../img/menuicons/french_64.png);
}

.frangofrito {
	background-image: url(../img/menuicons/friedchicken_64.png);
}

.comida-buteco {
	background-image: url(../img/menuicons/gastropub_64.png);
}

.italiana {
	background-image: url(../img/menuicons/italian_64.png);
}

.japonesa {
	background-image: url(../img/menuicons/japanese_64.png);
}

.mexicana {
	background-image: url(../img/menuicons/mexican_64.png);
}

.pub {
	background-image: url(../img/menuicons/pub_64.png);
}

.rua {
	background-image: url(../img/menuicons/streetfood_64.png);
}

.sushi {
	background-image: url(../img/menuicons/sushi_64.png);
}

.enoteca {
	background-image: url(../img/menuicons/winery_64.png);
}