<div class="card">
	<div class="card-marker-icon alacarte"></div>
	<div class="card-text-wrapper">
		<div class="main-text card-text-truncate-and-wrap">Nome do Restaurante A la Carte</div>
		<div class="address-text card-text-truncate-and-wrap">Endereço do Restaurante Muito Grande Mesmo nº 100, Rio de Janeiro</div>
		<div class="info-text card-text-truncate-and-wrap">A la carte, aberto das 10h as 18h, telefone: 1234-4567 - $$$</div>
	</div>
	<div class="card-info">
		<div class="card-info-text">
			<a>2 votos</a>
		</div>
		<div class="card-info-vote voted"></div>
	</div>
</div>

<div class="card">
	<div class="card-marker-icon selfservice"></div>
	<div class="card-text-wrapper">
		<div class="main-text card-text-truncate-and-wrap">Nome do Restaurante</div>
		<div class="address-text card-text-truncate-and-wrap">Endereço do Restaurante nº 100, Rio de Janeiro</div>
		<div class="info-text card-text-truncate-and-wrap">Self Service - $</div>
	</div>
	<div class="card-info">
		<div class="card-info-text">
			<a>2 votos</a>
		</div>
		<div class="card-info-vote"></div>
	</div>
</div>

api a pé

http://maps.googleapis.com/maps/api/distancematrix/json?origins=-22.900683,-43.187442&destinations=-22.901426,-43.175169&mode=walking&language=pt-BR&sensor=false